<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Gestión de Proyectos</title>
</head>
<body>
    <div class="container"> 
        <a href="/"><img src="/images/logo.png" alt="Logo" class="logo"></a>
    </div>
    <div class="container">
        <h1 class="text-center">Bienvenido a la Gestión de Proyectos</h1>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Cuando se carga la página, se hace el fade-in
            $('body').hide().fadeIn(500);
        
            // Cuando se hace clic en un enlace, se hace el fade-out
            $('a').click(function(event) {
                event.preventDefault();
                newLocation = this.href;
                $('body').fadeOut(500, function() {
                    window.location = newLocation;
                });
            });
        });
    </script>
</body>
</html>
