<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container"> 
        <a href="/"><img src="/images/logo.png" alt="Logo" class="logo"></a>
    </div>
    <div class="container">
        <h2 class="text-center">Inicia Sesión</h2>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
        <div class="text-center mt-3">
            <p>¿No tienes una cuenta? <a th:href="@{/register}">Regístrate aquí</a></p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Cuando se carga la página, se hace el fade-in
            $('body').hide().fadeIn(500);
        
            // Cuando se hace clic en un enlace, se hace el fade-out
            $('a').click(function(event) {
                event.preventDefault();
                newLocation = this.href;
                $('body').fadeOut(500, function() {
                    window.location = newLocation;
                });
            });
        });
    </script>
</body>
</html>
